.product-header {
    text-align: center;
    margin: 20px 0;
}

.product-header-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.products-banner {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-list {
    margin: 20px;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product-detail {
    text-align: center;
    margin: 20px;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
